@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
    box-sizing: border-box;
}


body{
 
    font-family: 'Quicksand', sans-serif;
    align-items:center;
    justify-content:center;
    display:flex;
    background-color: rgba(246, 241, 209);
    height:100vh;
    text-align: center;
    margin:0;
}

.key{
  padding: 20px;
  margin: 10px;
  border: 2px solid ;
  border-radius: 1em;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  background: rgb(123, 201, 119);
  position: relative;
  display: inline-flex;
  align-items:center;
  cursor: pointer;
  outline: none;
  border: 0;
  flex-direction:column;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 700;
  font-family: inherit;
  min-width:150px;
}

.key small{
    position: absolute;
    top: -28px;
    color: rgb(0, 80, 0);
}